@import "../../vars";
@import "../../mixins-media";
@import "../../mixins-adaptive";

.wrapper {
  /*display: flex;
  justify-content: space-between;
  flex-wrap: wrap;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px 20px;
  @include LaptopL-1440 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include Laptop-1024 {
    grid-template-columns: 1fr 1fr;
  }
  @include Tablet-600 {
    grid-template-columns: 1fr;
  }
}

.title {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.01em;
  color: $font_color_dark;
  margin-bottom: 20px;
}