@import "../../vars";
@import "../../mixins-media";
@import "../../mixins-adaptive";

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  @include Laptop-1024 {
    flex-direction: column-reverse;
  }
}

.title {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.01em;
  color: $font_color_dark;
  margin-bottom: 40px;
}