$container-max-width: 1420;

$font-family-base: Arial, Helvetica, sans-serif;
$font_color_dark: #2C2C2C;
$font_color_gray: #7B7B7B;
$font_color_light: #FFFFFF;

$body_background_color: #FFDF8C;

$container_background_color: #FFFFFF;

$color_acent: #FE5F1E;

$options_background_color: #F3F3F3;

$dark_background: #282828;