@import "vars";

.container {
  max-width: $container_max-width + px;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  background-color: $container_background_color;
  border-radius: 10px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}