@import "../../../vars";
@import "../../../mixins-media";
@import "../../../mixins-adaptive";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  @include Tablet-768 {
    flex-direction: column;
  }
}

.info {
  display: flex;
  width: -webkit-fill-available;
  align-items: center;
  @include Tablet-768 {
    margin-bottom: 25px;
  }
  @include MobileM-375 {
    flex-direction: column;
  }
  img {
    max-width: 80px;
    margin-right: 15px;
    @include MobileM-375 {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  div {
    h4 {
      font-weight: 700;
      font-size: 22px;
      color: $font_color_dark;
      margin-bottom: 10px;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      color: $font_color_gray;
    }
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include Tablet-768 {
    justify-content: flex-start;
  }
}

.counts {
  font-weight: 700;
  font-size: 22px;
  display: flex;
  align-items: center;
  button {
    border: 2px solid $color_acent;
    background-color: transparent;

  }
  span {
    color: $font_color_dark;
    margin: 0 10px;
  }
}

.price {
  font-weight: 700;
  //font-size: 22px;
  @include adaptive-font(22, 20);
  color: $font_color_dark;
  @include Tablet-768 {
    margin: 0 1.35em;
  }
  @include MobileM-375 {
    margin: 0 10px;
  }
}

.remove {
  border: 2px solid $font_color_gray;
  background-color: transparent;
}

.btn {
  cursor: pointer;
  transition: all .3s ease;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(.95);
  }
}

.btnCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.btnDisabled {
  cursor: default;
  border: 2px solid $font_color_gray!important;
  svg {
    path {
      fill: $font_color_gray;
    }
  }
  &:hover {
    transform: scale(1);
  }
  &:active {
    transform: scale(1);
  }
}